beautifulsoup4==4.5.3
boto==2.46.1
bz2file==0.98
cycler==0.10.0
gensim==1.0.1
Janome==0.2.8
joblib==1.2.0
matplotlib==2.0.0
mecab-python3==0.7
nltk==3.6.6
numpy==1.22.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.20.0
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
smart-open==1.5.1
tqdm==4.11.2
